<html>
  <head>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<div class="span6 pull-left"">
<h4>All Questions</h4>
	
<%= render @questions %>


</div>

<div class="span6 pull-left"">
	<h4>All Blogs</h4>

<%= render @blogs %>


</div>











  </body>
  </html>